In [1]:
# 1   Write a code to create a string with your name and print it
my_name = "HIMANSHU"
print(my_name)

HIMANSHU

In [2]:
# 2 Write a code to find the length of the string "Hello World"
my_string = "Hello World"
length = len(my_string)
print(length)

11

In [3]:
# 3  Write a code to slice the first 3 characters from the string "Python Programming
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [4]:
# 4  Write a code to convert the string "hello" to uppercase
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [5]:
# 5  Write a code to replace the word "apple" with "orange" in the string "I like apple
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [6]:
# 6 Write a code to create a list with numbers 1 to 5 and print it
my_list = list(range(1, 6))
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
# 7  Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
# 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
# 9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [10]:
# 10 Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [11]:
# 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# 12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [13]:
# 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [14]:
# 14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [15]:
# 15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ("apple", "banana", "orange")
if "kiwi" in my_tuple:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [16]:
# 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [17]:
# 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [18]:
# 18 Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [19]:
# 19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
# 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [21]:
# 21 . Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dictionary = {"name": "John", "age": 30, "city": "New York"}
print(my_dictionary)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
# 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dictionary = {'name': 'John', 'age': 25}
my_dictionary["country"] = "USA"
print(my_dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
 # Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
 my_dictionary = {'name': 'Alice', 'age': 30}
name_value = my_dictionary['name']
print(name_value)

Alice

In [24]:
 # 24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 my_dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dictionary.pop('age')
print(my_dictionary)

{'name': 'Bob', 'city': 'New York'}

In [25]:
 # 25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
 my_dictionary = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dictionary:
    print("The key 'city' exists in the dictionary")
else:
    print("The key 'city' does not exist in the dictionary")

The key 'city' exists in the dictionary

In [26]:
#  26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dictionary = {"a": 7, "b": 8, "c": 9}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [27]:
 # 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
 import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[31, 44, 55, 82, 87]

In [28]:
# 28 Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print(third_element)

cherry

In [29]:
# 29  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [30]:
# 30 Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "apple", "cherry", "date"]
my_set = set(my_list)
print(my_set)

{'cherry', 'date', 'banana', 'apple'}